<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Baick</title>
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="acercaB1">
    <h2><strong>HISTORIA DEL PROYECTO</strong></h2>
    <p>BAICK surge a partir de un proyecto pequeño el cual se ha ido desarrollando durante un corto periodo de tiempo.
        Desde 2025, la tienda cuenta con la apertura de la tienda Online, en la que cuenta con un ámplio catálogo de
        productos.</p>
</div>

<div class="acercaB2">
    <h2><strong>SOBRE NUESTRA TIENDA</strong></h2>
    <p>BAICK ofrece artículos de ciclismo, desde bicicletas de varias modalidades hasta componentes de repuesto
        importantes y herramientas para la manutención en el ciclismo. En BAICK hay catalogadas bicicletas de varias
        modalidades, entre ellas ciclismo de carretera, montaña, gravel, ciclocross, BMX, ... y muchas otras. Te
        invitamos a ver nuestro <a href="catalogo"><strong>catálogo</strong></a></p>
</div>

<div class="acercaB1">
    <h2><strong>MARCAS AFILIADAS</strong></h2>
    <p>BAICK tiene colaboraciones y afiliaciones con la mayoría de las marcas líderes en el sector del ciclismo. De esta
        manera se ofrecen los productos directamente de la mano de obra proveniente de las marcas dueñas del producto
        sin modificaciones a un precio notablemente reducido.</p>
</div>

<div class="acercaB2">
    <h2><strong>CONTACTO DIRECTO CON NUESTRO SOPORTE</strong></h2>
    <p>BAICK dispone de un sistema de contácto con el cliente efectivo en el cual agradecemos que nos escriba cualquier
        tipo de duda, sugerencia o problema que haya podido surgir en la página, durante la búsqueda o pago, a través de
        nuestra sección especializada en soporte, <a href="soporte"><strong>¡Contáctanos!</strong></a></p>
</div>

</body>

</html>