<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Baick</title>
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="bloque-producto">
    <form th:action="@{/carrito/agregar}" method="post">
        <img th:src="${bicicleta.imagen}" alt="producto"/>
        <div class="informacion-producto">
            <h2 th:text="${bicicleta.marca} + ' ' + ${bicicleta.modelo}"></h2>
            <p th:text="${bicicleta.descripcion}"></p>
            <p>Precio: <span th:text="${bicicleta.precio}">0</span> €</p>
            <input type="hidden" name="productoId" th:value="${bicicleta.id}" />
            <button type="submit" th:if="${unidades}">Agregar Producto</button>
        </div>
    </form>
</div>

<div class="acercaB2">
    <h2><strong>CONTACTO Y SOPORTE</strong></h2>
    <p>Contacta con BAICK para resolver dudas o problemas. Agradecemos también sugerencias constructivas para mejorar nuestro servicio. !<a href="/soporte">CONTÁCTANOS</a>¡</p>
</div>

<div class="acercaB2">
    <h2><strong>ACERCA DE NUESTRA TIENDA</strong></h2>
    <p>Infórmate sobre nuestra trayectoria y entérate de lo que ofrecemos. <a href="/acercade">ACERCA DE NOSOTROS</a></p>
</div>
</body>

</html>